<button mat-button [routerLink]="['/security', 'sign-in']" *ngIf="this.coreService.token === ''">
    <mat-icon>login</mat-icon>
    <span>Login</span>
</button>

<button mat-button [matMenuTriggerFor]="menu" *ngIf="coreService.token !== ''" class="user-profile-button">
  <img [src]="coreService.avatarUrl" class="avatar" alt="Avatar" />
  <span class="user-name">
    {{ coreService.username }}
  </span>
</button>

<mat-menu #menu="matMenu">
    <button mat-menu-item [routerLink]="['/chat']">
        <mat-icon>chat</mat-icon>
        <span>Inbox</span>
    </button>
    <button mat-menu-item (click)="securityService.signOut()">
        <mat-icon>logout</mat-icon>
        <span>Loggout</span>
    </button>
</mat-menu>