<mat-drawer-container class="chat-wrapper">

    <mat-drawer mode="side" [opened]="sharedService.openedSidebarContact">
        <app-sidebar-contact [contacts]="contacts" 
            [selectedContact]="selectedContact" 
            (eventContactSelected)="selectContact($event)"></app-sidebar-contact>
    </mat-drawer>

    <mat-drawer-content>
        <app-chat-window [messages]="messages" [contact]="selectedContact"
            (eventSendMessage)="sendMessage($event)"></app-chat-window>
    </mat-drawer-content>

</mat-drawer-container>