<mat-drawer-container class="chat-wrapper">

  <mat-drawer mode="side" opened>
    <div class="contact-list">
      <h3>Contacts</h3>
      <mat-nav-list>
        <mat-list-item *ngFor="let contact of contacts" (click)="selectContact(contact)">
          <mat-icon matListIcon>account_circle</mat-icon>
          <span matLine>{{ contact.name }}</span>
        </mat-list-item>
      </mat-nav-list>
    </div>
  </mat-drawer>

  <mat-drawer-content>
    <app-chat-window></app-chat-window>
  </mat-drawer-content>

</mat-drawer-container>