<div class="contact-list">
    <div class="contact-header">
        <span class="contact-title">Contacts</span>
        <button mat-icon-button (click)="toggleSidebarContact()">
            <mat-icon>close</mat-icon>
        </button>
    </div>
    <mat-nav-list>
        <mat-list-item *ngFor="let contact of contacts" (click)="selectContact(contact)"
            [ngClass]="{ 'selected': selectedContact?.id === contact.id }">
            <img matListAvatar src="../../../assets/images/avatar-default.png" alt="{{ contact.username }}"
                class="avatar" />
            <span matLine class="username">{{ contact.username }}</span>
        </mat-list-item>
    </mat-nav-list>
</div>