<div class="contact-list">
    <div class="contact-header">
        <span class="contact-title">Contacts</span>
        <button mat-icon-button (click)="sharedService.toggleSidebarContact()">
            <mat-icon>close</mat-icon>
        </button>
    </div>
    <mat-nav-list>
        <ng-container *ngFor="let contact of contacts">
            <mat-list-item *ngIf="userId !== contact.id"
                [routerLinkActive]="'selected'"
                [routerLink]="['user', contact.id]">
                <img matListAvatar [src]="contact.avatarUrl || '../../../assets/images/avatar-default.png'" alt="{{ contact.username }}" class="avatar" />
                <span matLine class="username">{{ contact.username }}</span>
            </mat-list-item>
        </ng-container>
    </mat-nav-list>
</div>