<div class="container">
    <div class="row">
        <div class="col-12" style="margin-top: 15px;">
            <h1>Security Application</h1>
            <p>
                A sample security application with ASP.NET Core Web API, responsible for the main web system using the
                same
                domain network. When starting using the deployment command in Docker, we will have system virtualization
                for the
                local application development environment.
            </p>
        </div>

        <div class="col-12">
            <h1>Swagger Documentation</h1>
            <p>
                <a [href]="linkSwagger" target="_blank">Click here</a>
            </p>
        </div>

        <div class="col-12">
            <h1>Using the Angular with ASP.NET Core</h1>
            <p>
                The ASP.NET Core with Angular project template provides a convenient starting point for ASP.NET Core
                apps using
                Angular and the Angular CLI to implement a rich, client-side user interface (UI).
            </p>
            <p>
                The project template is equivalent to creating both an ASP.NET Core project to act as a web API and an
                Angular
                CLI project to act as a UI. This project combination offers the convenience of hosting both projects in
                a single
                ASP.NET Core project that can be built and published as a single unit.
            </p>
            <p>The project template isn't meant for server-side rendering (SSR).</p>
        </div>

        <div class="col-12">
            <h1>Command deployed application in Docker</h1>
            <p>In a terminal on the application path run the command:</p>
            <p translate="no">
                <b>docker-compose up --build</b>
            </p>
        </div>

        <div class="col-12">
            <h1>Admin Credentials</h1>

            <p translate="no"><b>Username: </b>admin</p>
            <p translate="no"><b>Password: </b>admin</p>

            <br>
            <p>
                <b>Note: </b>Credentials can be added or changed in the
                <a
                    href="https://github.com/abelgasque/AbelGasque.WebApp.SecurityApp/tree/main/Server/Infrastructure/Entities/Context/AppDbContext.cs">AppDbContext</a>
                file and generating a new migration before deploying to the development environment.
            </p>
        </div>

        <div class="col-12">
            <h1>References</h1>
            <a
                href="https://learn.microsoft.com/en-us/aspnet/core/client-side/spa/angular?view=aspnetcore-7.0&tabs=visual-studio">
                Use the Angular project template with ASP.NET Core
            </a>
        </div>
    </div>
</div>
<app-footer></app-footer>