<mat-drawer-container class="wrapper">

    <mat-drawer mode="side" class="chat-drawer" [opened]="sharedService.openedSidebarChat">
        <app-chat-window></app-chat-window>
    </mat-drawer>

    <mat-drawer-content>
        <div class="container">
            <div class="row">
                <div class="col-12" style="margin-top: 15px;">
                    <h1>{{ title }}</h1>
                    <p>{{ description }}</p>
                </div>

                <div class="col-12">
                    <h1>Swagger Documentation</h1>
                    <p>
                        <a [href]="linkSwagger" target="_blank">Click here</a>
                    </p>
                </div>

                <div class="col-12">
                    <h1>Command deployed application in Docker</h1>
                    <p>In a terminal on the application path run the command:</p>
                    <p translate="no">
                        <b>docker-compose up --build</b>
                    </p>
                </div>

                <div class="col-12">
                    <h1>Admin Credentials</h1>

                    <p translate="no"><b>Username: </b>{{ this.username }}</p>
                    <p translate="no"><b>Password: </b>{{ this.password }}</p>
                </div>
            </div>
        </div>
    </mat-drawer-content>

</mat-drawer-container>