.row {
    width: 100%;
}

th,
.mat-paginator {
    background-color: #cfcfcf;
}

table {
    margin-top: 10px;
    min-width: 1000px;
    width: 100%;
}

.table-container {
    overflow-x: auto; 
    max-width: 100%; 
  }

.mat-form-field {
    width: 100%;
    margin-top: 10px;
}