<footer>

    <div class="col-12 header">
        &copy; Todos direitos reservados {{ yearNow }} - {{ version }}
    </div>

    <div class="row">

        <div class="col-sm-12 col-md-3">
            <h2>Security App</h2>
            <p>
                A sample security application with ASP.NET Core Web API, responsible for the main web system using the
                same domain network. When starting using the deployment command in Docker, we will have system
                virtualization for the local application development environment.
            </p>
        </div>

        <div class="col-sm-12 col-md-3">
            <h2>Documentation</h2>
            <a [href]="linkSwagger" target="_blank">Swagger</a>
        </div>

        <div class="col-sm-12 col-md-3">
            <h2>Social Media</h2>
            <ul>
                <li>
                    <a href="https://abelgasque.com" target="_blank">CV</a>
                </li>
                <li>
                    <a href="https://github.com/abelgasque" target="_blank">GitHub</a>
                </li>
                <li>
                    <a href="https://linkedin.com/in/abelgasque" target="_blank">Linkedin</a>
                </li>
            </ul>
        </div>

        <div class="col-sm-12 col-md-3">
            <h2>Contacts</h2>
            <ul>
                <li>
                    <a href="abelgasque20@gmail.com" target="_blank">Email</a>
                </li>
            </ul>
        </div>
    </div>

</footer>