<mat-accordion>
    <mat-expansion-panel [expanded]="true">
        <mat-expansion-panel-header>
            <mat-panel-title>
                <mat-icon>search</mat-icon>
                Filter Customer
            </mat-panel-title>
        </mat-expansion-panel-header>

        <form class="row" [formGroup]="form" (ngSubmit)="read()">
            <div class="col-sm-12 col-md-2">
                <mat-form-field appearance="fill">
                    <mat-label>First Name</mat-label>
                    <input type="text" matInput formControlName="firstName" placeholder="Enter your first name"
                        maxlength="50">
                </mat-form-field>
            </div>

            <div class="col-sm-12 col-md-2">
                <mat-form-field appearance="fill">
                    <mat-label>Last Name</mat-label>
                    <input type="text" matInput formControlName="lastName" placeholder="Enter your last name"
                        maxlength="250">
                </mat-form-field>
            </div>

            <div class="col-sm-12 col-md-4">
                <mat-form-field appearance="fill">
                    <mat-label>Email</mat-label>
                    <input type="text" matInput formControlName="mail" placeholder="Enter your email" maxlength="250">
                </mat-form-field>
            </div>

            <div class="col-sm-12 col-md-2">
                <mat-form-field appearance="fill">
                    <mat-label>Active</mat-label>
                    <mat-select formControlName="active">
                        <mat-option>Select</mat-option>
                        <mat-option value="true">Yes</mat-option>
                        <mat-option value="false">No</mat-option>
                    </mat-select>
                </mat-form-field>
            </div>

            <div class="col-sm-12 col-md-2">
                <mat-form-field appearance="fill">
                    <mat-label>Block</mat-label>
                    <mat-select formControlName="block">
                        <mat-option>Select</mat-option>
                        <mat-option value="true">Yes</mat-option>
                        <mat-option value="false">No</mat-option>
                    </mat-select>
                </mat-form-field>
            </div>

            <div class="col-sm-12 col-md-3">
                <mat-form-field appearance="fill">
                    <mat-label>Date Creation</mat-label>
                    <mat-date-range-input [rangePicker]="creationDate">
                        <input matStartDate placeholder="Start date" formControlName="creationDateStart">
                        <input matEndDate placeholder="End date" formControlName="creationDateEnd">
                    </mat-date-range-input>
                    <mat-datepicker-toggle matSuffix [for]="creationDate"></mat-datepicker-toggle>
                    <mat-date-range-picker #creationDate></mat-date-range-picker>
                </mat-form-field>
            </div>

            <div class="col-sm-12 col-md-3">
                <mat-form-field appearance="fill">
                    <mat-label>Date Update</mat-label>
                    <mat-date-range-input [rangePicker]="updateDate">
                        <input matStartDate placeholder="Start date" formControlName="updateDateStart">
                        <input matEndDate placeholder="End date" formControlName="updateDateEnd">
                    </mat-date-range-input>
                    <mat-date-range-picker #updateDate></mat-date-range-picker>
                    <mat-datepicker-toggle matSuffix [for]="updateDate"></mat-datepicker-toggle>
                </mat-form-field>
            </div>


            <div class="col-12">
                <button mat-raised-button type="submit" color="primary">
                    Send
                </button>

                <button mat-raised-button type="button" (click)="newCustomer()" style="margin-left: 5px;"
                    color="accent">
                    Create
                </button>

                <button mat-raised-button type="button" (click)="clear()" color="warn" style="margin-left: 5px;">
                    Clear
                </button>
            </div>
        </form>
    </mat-expansion-panel>
</mat-accordion>

<div class="table-container mat-elevation-z8">
    <table mat-table [dataSource]="data" class="mat-elevation-z8" matSort>

        <ng-container matColumnDef="fisrtName">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> First Name </th>
            <td mat-cell *matCellDef="let col"> {{col.firstName}}</td>
        </ng-container>

        <ng-container matColumnDef="lastName">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> Last Name </th>
            <td mat-cell *matCellDef="let col">{{col.lastName}}</td>
        </ng-container>

        <ng-container matColumnDef="mail">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> Email </th>
            <td mat-cell *matCellDef="let col">{{col.mail}}</td>
        </ng-container>

        <ng-container matColumnDef="dtCreation">
            <th mat-header-cell *matHeaderCellDef style="width: 10pc;" mat-sort-header> Date Creation </th>
            <td mat-cell *matCellDef="let col"> {{col.creationDate | date : 'yyyy-MM-dd hh:mm'}}</td>
        </ng-container>

        <ng-container matColumnDef="dtUpdate">
            <th mat-header-cell *matHeaderCellDef style="width: 10pc;" mat-sort-header> Date Update </th>
            <td mat-cell *matCellDef="let col"> {{col.updateDate | date : 'yyyy-MM-dd hh:mm'}}</td>
        </ng-container>

        <ng-container matColumnDef="active">
            <th mat-header-cell *matHeaderCellDef style="width: 5pc;" mat-sort-header> Active </th>
            <td mat-cell *matCellDef="let col"> {{col.active}}</td>
        </ng-container>

        <ng-container matColumnDef="block">
            <th mat-header-cell *matHeaderCellDef style="width: 5pc;" mat-sort-header> Block </th>
            <td mat-cell *matCellDef="let col"> {{col.block}}</td>
        </ng-container>

        <ng-container matColumnDef="actions">
            <th mat-header-cell *matHeaderCellDef style="width: 5pc;" mat-sort-header> Actions </th>
            <td mat-cell *matCellDef="let col">
                <button mat-icon-button color="primary" [matMenuTriggerFor]="menu">
                    <mat-icon>settings</mat-icon>
                </button>
                <mat-menu #menu="matMenu">
                    <button mat-menu-item (click)="readById(col.id)">
                        <mat-icon>edit</mat-icon>
                        <span>Update</span>
                    </button>
                    <button mat-menu-item (click)="delete(col.id)">
                        <mat-icon>delete</mat-icon>
                        <span>Delete</span>
                    </button>
                </mat-menu>
            </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>
</div>
<mat-paginator #paginator (page)="handlePageEvent($event)" [length]="totalRecords" [pageSize]="size"
    [pageSizeOptions]="[5, 10, 25, 100]" [showFirstLastButtons]="true" aria-label="Select page">
</mat-paginator>