<!-- <form class="row" [formGroup]="form">
    <div class="col-sm-12 col-md-2">
        <mat-form-field appearance="fill">
            <mat-label>Name</mat-label>
            <input type="text" matInput formControlName="name" placeholder="Enter your first name" maxlength="50">
        </mat-form-field>
    </div>

    <div class="col-sm-12 col-md-4">
        <mat-form-field appearance="fill">
            <mat-label>Email</mat-label>
            <input type="text" matInput formControlName="email" placeholder="Enter your email" maxlength="250">
        </mat-form-field>
    </div>

    <div class="col-sm-12 col-md-3">
        <mat-form-field appearance="fill">
            <mat-label>Created At</mat-label>
            <mat-date-range-input [rangePicker]="createdAt">
                <input matStartDate placeholder="Start date" formControlName="createdAtStart">
                <input matEndDate placeholder="End date" formControlName="createdAtEnd">
            </mat-date-range-input>
            <mat-datepicker-toggle matSuffix [for]="createdAt"></mat-datepicker-toggle>
            <mat-date-range-picker #createdAt></mat-date-range-picker>
        </mat-form-field>
    </div>

    <div class="col-12">
        <button mat-raised-button type="submit" color="primary">
            Send
        </button>

        <button mat-raised-button type="button" style="margin-left: 5px;" color="accent">
            Create
        </button>

        <button mat-raised-button type="button" color="warn" style="margin-left: 5px;">
            Clear
        </button>
    </div>
</form> -->