<div class="row container__box">
    <div class="col-12 box">
        <nav mat-tab-nav-bar>
            <a mat-tab-link [routerLink]="['/security', 'sign-in']" 
                (click)="activeLink = 'sign-in'"
                [active]="activeLink == 'sign-in'">
                <mat-icon>login</mat-icon>
            </a>

            <a mat-tab-link [routerLink]="['/security', 'sign-up']"
                (click)="activeLink = 'sign-up'"
                [active]="activeLink == 'sign-up'">
                <mat-icon>group_add</mat-icon>
            </a>
        </nav>

        <div class="router__links">
            <router-outlet></router-outlet>
        </div>

        <div class="a__back">
            <a href="#" [routerLink]="['/']">Back to start</a>
        </div>
    </div>
</div>