<div class="chat-container mat-elevation-z2">
  <div class="chat-header">
    <img class="contact-avatar" [src]="avatar" />
    <div class="contact-info">
      <div class="contact-name">{{ username }}</div>
      <div class="contact-status" [ngClass]="{ 'offline': status === 'offline' }">
        {{ status }}
      </div>
    </div>
    <button mat-icon-button [routerLink]="['/chat']" class="more-btn">
      <mat-icon>close</mat-icon>
    </button>
  </div>

  <div class="message-list" #scrollContainer>
    <div *ngFor="let msg of messages"
      [ngClass]="{ 'sent': senderId === msg.senderId, 'received': receiverId === msg.senderId }" class="message-bubble">
      <div class="message-text">{{ msg.message }}</div>

      <div class="message-meta">
        <span class="timestamp">{{ msg.sentAt | date:'HH:mm' }}</span>

        <ng-container *ngIf="senderId === msg.senderId">
          <mat-icon class="status-icon" [ngClass]="{
              'sent': !msg.receiverAt,
              'received': msg.receiverAt && !msg.readAt,
              'read': msg.readAt
            }">
            {{ !msg.receiverAt ? 'check' : 'done_all' }}
          </mat-icon>
        </ng-container>
      </div>
    </div>
  </div>

  <form class="chat-form" [formGroup]="form" (ngSubmit)="sendMessage()">
    <mat-form-field class="input-field" appearance="outline">
      <input matInput placeholder="Type a message" formControlName="message" autocomplete="off">
    </mat-form-field>
    <button mat-icon-button type="submit" color="primary" [disabled]="!form.valid">
      <mat-icon>send</mat-icon>
    </button>
  </form>
</div>