<div class="chat-container mat-elevation-z2">

    <div class="message-list" #scrollContainer>
        <div *ngFor="let msg of messages" [ngClass]="{'sent': msg.sender === 'me', 'received': msg.sender !== 'me'}"
            class="message-bubble">
            {{ msg.text }}
        </div>
    </div>

    <form class="chat-form" [formGroup]="form" (ngSubmit)="sendMessage()">
        <mat-form-field class="input-field" appearance="outline">
            <input matInput placeholder="Type a message" formControlName="message" autocomplete="off">
        </mat-form-field>
        <button mat-icon-button type="submit" color="primary" [disabled]="!form.valid">
            <mat-icon>send</mat-icon>
        </button>
    </form>

</div>