<div class="row">
    <ul class="col-12">
        <li>
            <button mat-icon-button (click)="sharedService.toggleSidebar()">
                <mat-icon>close</mat-icon>
            </button>
        </li>
        <li class="space__center">
            {{ this.coreService.username }}
        </li>

        <li class="space__center">
            {{ this.coreService.email }}
        </li>
    </ul>
</div>
<mat-nav-list>
    <mat-list-item routerLinkActive="list-item-active" [routerLink]="['/bot']">
        <mat-icon>android</mat-icon>
        <span>Bot</span>
    </mat-list-item>
    <mat-list-item routerLinkActive="list-item-active" [routerLink]="['/dashboard']">
        <mat-icon>dashboards</mat-icon>
        <span>Dashboard</span>
    </mat-list-item>
    <mat-list-item routerLinkActive="list-item-active" [routerLink]="['/']">
        <mat-icon>home</mat-icon>
        <span>Home</span>
    </mat-list-item>
    <mat-list-item routerLinkActive="list-item-active" [routerLink]="['/tenant']">
        <mat-icon>manage_accounts</mat-icon>
        <span>Tenant</span>
    </mat-list-item>
    <mat-list-item routerLinkActive="list-item-active" [routerLink]="['/user']">
        <mat-icon>manage_accounts</mat-icon>
        User
    </mat-list-item>