<div class="row">
    <ul class="col-12">
        <li>
            <button mat-icon-button (click)="sharedService.toggleSidebar()">
                <mat-icon>close</mat-icon>
            </button>
        </li>
        <li class="space__center">
            {{ this.coreService.username }}
        </li>

        <li class="space__center">
            {{ this.coreService.email }}
        </li>
    </ul>
</div>
<mat-nav-list>
    <mat-list-item routerLinkActive="list-item-active" [routerLink]="['/']">
        <mat-icon>home</mat-icon>
        Home
    </mat-list-item>
    <mat-list-item routerLinkActive="list-item-active" [routerLink]="['/user']">
        <mat-icon>manage_accounts</mat-icon>
        User
    </mat-list-item>
    <!-- <mat-list-item routerLinkActive="list-item-active" [routerLink]="['/customer']">
        <mat-icon>peoples</mat-icon>
        Customer
    </mat-list-item> -->
</mat-nav-list>