.row {
    width: 100%
}

.space__center {
    text-align: center;
}

ul {
    list-style: none;
    padding: 0;
    margin: 10px 0 0 0;
    color: #fff !important;
}

span {
    margin-top: 5px;
    margin-left: 10px;
}

.mat-nav-list .mat-list-item {
    color: #fff;
}